/* Default */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.container {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
}

/* Login */

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Homepage */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.nav-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    margin-right: 20px;
}

.nav-ul li:last-child {
    margin-right: 0;
}

.nav-ul a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-ul a:hover {
    color: #0056b3;
}

main {
    padding: 20px;
    text-align: center;
    margin-top: 70px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.home-description {
    font-size: 18px;
    line-height: 1.5;
}

/* Content Container Styles */
.container {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.pagination button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.content-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.content-item h2,
.content-item p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content-item img.author-avatar {
    max-width: 50px;
    max-height: 50px;
}

.content-item-container img.author-banner {
    max-width: 100px;
    max-height: 200px;
}

/* Media Styling */
img {
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #007bff;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    align-content: center;
}

.tags {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tag-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    border-radius: 4px;
}

/* CSS for styling selected tags */
.selected-tag {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
}

/* Search Button */
#searchButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

/* Post Page */
#postMedia {
    width: 400px;
    height: auto;
}

/* View Post button */
.view-post-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.view-post-button:hover {
    background-color: #0056b3;
}

/* Create Post button */
.create-post-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-post-button:hover {
    background-color: #0056b3;
}

/* Modal Container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

/* Close Button (X) */
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

/* Close Button Hover Effect */
.modal-content .close:hover {
    color: #333;
}

/* Modal Header */
.modal-content h2 {
    margin-top: 0;
}

/* Form Styling */
.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content label {
    margin-top: 10px;
    font-weight: bold;
}

.modal-content input[type="text"],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Button Styling */
.modal-content button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal-content .cancel {
    background-color: #ccc;
    color: #333;
}

.modal-content .create {
    background-color: #007bff;
    color: #fff;
}

.modal-content .create:hover {
    background-color: #0056b3;
}

/* Delete Post Button Styling */

#deletePostButton {
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

#deletePostButton:hover {
    transition: background-color ease .5s;
    background-color: #ff0000;
}

/* Style for the Edit button */
.edit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.edit-button:hover {
    transition: background-color ease .5s;
    background-color: #0056b3;
}

/* Modal Container */
.post-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.post-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

/* Close Button (X) */
.post-modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

/* Close Button Hover Effect */
.post-modal-content .close:hover {
    color: #333;
}

/* Modal Header */
.post-modal-content h2 {
    margin-top: 0;
}

/* Form Styling */
.post-modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}